.head1{
    border: 2px solid dodgerblue;
    background-color: rgb(163, 163, 163);
    position: sticky;
    top: 0px;
}
.h1{
    color:dodgerblue;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}
.logo{
    margin-top: 5px;
    margin-left:  5px;
    width: 30px;
    height: auto;
}
.mainP{
    margin-top: 5px;
}